<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color : blue">
        This Is Header Portion
    </header>
    
        @RenderBody()
    <footer style="background-color:orange">
        This is Footer Portion
    </footer>
    
</body>
</html>
